/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box-form {
    
    
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    
    box-shadow: 0 0 20px 6px #090b6f85;
    
  }
.box-form .left {
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.pinimg.com/736x/5d/73/ea/5d73eaabb25e3805de1f8cdea7df4a42--tumblr-backgrounds-iphone-phone-wallpapers-iphone-wallaper-tumblr.jpg");
    overflow: hidden;
    text-align: center;
    display: flex; align-items: center; width: 300px; height: full;
    
  }
  .box-form .left .overlay {
    padding: 30px;
    padding-top: 120px;
    width: 100%;
    height: 100%;
    background: #5961f9ad;
    overflow: hidden;
    box-sizing: border-box;
  }

form {
    background-color: #fff;
    padding: 20px;
    height: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(135deg, #ea00fa 10%, #0b0071 100%);
}

.error {
    color: red;
    margin-top: -1px;
}

#errorMessage {
    margin-top: -5px;
}
